<div id="container">
    <div class="d-flex">
        <h1 class="tittle">PROYECTOS</h1>
        <div *ngIf="isLogged">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#proyecto">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </button>

            <div class="modal fade" id="proyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="proyectoLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="proyectoLabel">Crear nuevo proyecto</h1>
                        </div>
                        <div class="modal-body">
                            <form (ngSubmit)="onCreate(crearForm.value)" [formGroup]="crearForm">
                                <div class="form-group">
                                    <label for="nombre">Nombre del proyecto</label>
                                    <input type="text" class="form-control" [ngClass]="{'is-invalid': Nombre?.touched && Nombre?.errors,'is-valid' : Nombre?.touched && !Nombre?.errors }" id="nombre" name="nombre" formControlName="nombre" required />
                                    <div *ngIf="Nombre?.touched && Nombre?.errors?.['required']" class="alert alert-danger p-1">Este campo es requerido</div>
                                    <div *ngIf="Nombre?.touched && Nombre?.errors?.['minlength']" class="alert alert-danger p-1">Nombre debe ser mayor a {{crearForm.get('nombre')?.errors?.['minlength']?.requiredLength}} caracteres</div>
                                </div>
                                <div class="form-group">
                                    <label for="descripcion">Descripcion del proyecto</label>
                                    <input type="text" class="form-control" [ngClass]="{'is-invalid': Descripcion?.touched && Descripcion?.errors,'is-valid' : Descripcion?.touched && !Descripcion?.errors }" id="descripcion" name="descripcion" formControlName="descripcion" required />
                                    <div *ngIf="Descripcion?.touched && Descripcion?.errors?.['required']" class="alert alert-danger p-1">Este campo es requerido</div>
                                    <div *ngIf="Descripcion?.touched && Descripcion?.errors?.['minlength']" class="alert alert-danger p-1">Descripcion debe ser mayor a {{crearForm.get('descripcion')?.errors?.['minlength']?.requiredLength}} caracteres</div>
                                </div>
                                <div class="form-group">
                                    <label for="link">Link del proyecto</label>
                                    <input type="url" class="form-control" [ngClass]="{'is-invalid': Link?.touched && Link?.errors,'is-valid' : Link?.touched && !Link?.errors }" id="link" name="link" formControlName="link" required />
                                    <div *ngIf="Link?.touched && Link?.errors?.['required']" class="alert alert-danger p-1">Este campo es requerido</div>
                                </div>
                                <div class="form-group">
                                    <label for="img">URL de la imagen/logo del proyecto</label>
                                    <input type="url" class="form-control" id="img" name="img" formControlName="img" />
                                </div>
                                <button class="btn btn-success" data-bs-dismiss="modal" [disabled]="crearForm.invalid">Agregar proyecto</button>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card text-bg-dark" style="width: 26rem;" *ngFor="let proy of proyecto">
            <img src="{{proy.img}}" class="card-img-top " alt="*imagen del proyecto*" style="width: auto">
            <div class="card-body">
                <div>
                    <h5 class="card-title">{{proy.titulo}}</h5>
                    <p class="card-text">{{proy.descripcion}}</p>
                    <a href="{{proy.link}}" target="_blank">Visitar proyecto</a>
                </div>
                <div class="iconos">
                    <div *ngIf="isLogged">
                        <button class="btn btn-secondary " routerLink="/editarproy/{{proy.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </button>
                    </div>
                    <div *ngIf="isLogged">
                        <button class="btn btn-secondary" (click)="delete(proy.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>