<div id="container">
    <h1 class="tittle">EDUCACION</h1>
    <div class="education-container">
        <div class="image">
            <img src="../../../assets/facebook.jpg" alt="logo empresa" class="img-fluid">
        </div>
        <div class="description">
            <h1>Titulo colegio</h1>
            <h3>años</h3>
            <p>descripcion</p>
        </div>
        <div class="image">
            <img src="../../../assets/facebook.jpg" alt="logo empresa" class="img-fluid">
        </div>
        <div class="description">
            <h1>Titulo colegio</h1>
            <h3>años</h3>
            <p>descripcion</p>
        </div>
    </div>
</div>