<!-- <div id="container">
    <div class="row">
        <div class="columna col-xs-12 col-sm-4">
            <img src="../../../assets/yo.png" alt="profile picture" class="img-fluid">
            <h1 id="name">Soy Ezequiel De la Vega</h1>
            <h2>Full Stack Developer Jr.</h2>
        </div>
        <hr>
        <div class="col-xs-12 col-sm-8">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorum aliquam nobis molestiae minus ut debitis harum sequi? Quibusdam, reiciendis! Saepe vitae voluptatum, asperiores eos soluta atque recusandae voluptates dolore?</p>
        </div>
    </div>
</div> -->

<div id="container">
    <div class="about-container">
        <div class="me">
            <img src="../../../assets/yo.png" alt="profile picture" class="img-fluid">
            <h1 id="name">Soy Ezequiel De la Vega</h1>
            <h2>Full Stack Developer Jr.</h2>
        </div>
        <div class="info">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, enim.</p>
        </div>
    </div>
</div>