<div id="container">
    <div class="contact">
        <h1 class="tittle">CONTACTO</h1>
        <span>Ezequiel De la Vega</span>
        <span>Cordoba, Argentina</span>
        <span>ezequiel2014.edlv@gmail.com</span>
        <p>Si tienes algun proyecto y te gustaria que forme parte del mismo, o simplemente dejarme un comentario. Puedes contactarme en mis redes aqui debajo: </p>
        <div class="images">
            <a href="#">
                <img src="../../../assets/facebook.png" alt="fb image" class="img-fluid">
            </a>
            <a href="https://www.instagram.com/eze.delavega/" target="_blank">
                <img src="../../../assets/instagram.png" alt="ig image" class="img-fluid">
            </a>
            <a href="#">
                <img src="../../../assets/twitter.png" alt="tw image" class="img-fluid">
            </a>
            <a href="#">
                <img src="../../../assets/linkedin.png" alt="ik image" class="img-fluid">
            </a>
            <a href="https://github.com/Ezee013" target="_blank">
                <img src="../../../assets/github.png" alt="git image" class="img-fluid">
            </a>
        </div>
        <div class="copyright  border-top border-opacity-50">
            <p>© 2023 Made by Ezequiel De la Vega</p>
        </div>
    </div>
</div>