<div id="container">
    <h1 class="tittle">EXPERIENCIA</h1>
    <div class="card-container">
        <div class="card text-bg-dark" style="width: 26rem;">
            <img src=".." class="card-img-top  " alt="...">
            <div class="card-body">
                <h5 class="card-title">Titulo trabajo</h5>
                <h6 class="card-subtitle mb-2 ">año</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card text-bg-dark" style="width: 26rem;">
            <img src="../../../assets/banner.jpg" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">Titulo trabajo</h5>
                <h6 class="card-subtitle mb-2 ">año</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
        <div class="card text-bg-dark" style="width: 26rem;">
            <img src="..." class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title">Titulo trabajo</h5>
                <h6 class="card-subtitle mb-2 ">año</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>
        </div>
    </div>
</div>