<div id="container">
    <h1 class="tittle">HARD AND SOFT SKILLS</h1>
    <div class="skill-container">
        <div class="skill">
            <h5>FRONT-END</h5>
            Html
            <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width: 0%"></div>
            </div>
            Css
            <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width: 25%"></div>
            </div>
            JavaScript
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width: 50%"></div>
            </div>
            TypeScript
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width: 75%">T</div>
            </div>
            Angular
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped  progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
        <div class="skill">
            <h5>BACK-END</h5>
            Python
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: 25%"></div>
            </div>
            Java
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: 50%"></div>
            </div>
            Spring Boot
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: 75%"></div>
            </div>
            SQL
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
        <div class="skill">
            <h5>SOFT-SKILLS</h5>
            Ingles
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 0%"></div>
            </div>
            Proactividad
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 25%"></div>
            </div>
            Disciplina
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 50%"></div>
            </div>
            Trabajo en equipo
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 75%"></div>
            </div>
            Autodidacta
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>