#container {
    background-color: #233142;
    border-top: 1px dotted #000000;
    padding: 30px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* padding: 10px 20px; */
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5c5470;
    font-weight: 650;
    font-size: 15px;
}

.tittle {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}

h5 {
    font-weight: 750;
    color: darkslateblue;
}

.btn {
    margin: 0px 10px;
}

.barra {
    width: 100%;
}

.modal-content {
    background-color: #000000aa;
    color: aliceblue;
}

.form-group {
    margin: 10px;
}

.form-group input {
    margin: 10px 0;
}

@media screen and (max-width:500px) {
    .skill-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}


/* @media screen and (max-width:760px) {
    .skill-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}  */